body {
	background-color: #e5e5e5;
	overflow-x: hidden;
	font-size: 12px;
}
* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	margin-top: 30px;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.vspace {
	margin-top: 10px;
}
.baselineskip {
	margin-bottom: 10px;
}
.upper {
	text-transform: uppercase;
}
.bigger {
	font-size: 1.5em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
	margin: 10px 0 5px;
	font-weight: 600;
}
.right {
	float: right;
}
.left {
	float: left;
}
.pdv {
	padding-top: 10px;
	padding-bottom: 10px;
}
.avatar {
	width: 30%;
	max-width: 200px;
	height: auto;
	/*position: absolute;*/
	/*top: 0;
	right: 10px;*/
}
.avatar img {
	width: 100%;
	height: auto;
	border-radius: 2%;
}
.contacts, .work {
	padding: 10px 20px;
}
.contacts li, .work li {
	padding: 5px 10px;
	font-size: 1.5em;
	display: block;
}

.contacts li label, .work li label {
	font-weight: 700;
	margin-right: 5px;
}
.contacts li i {
	width: 30px;
	color: #2cb40b;
	margin-right: 5px;
	text-align: center;
}

.contacts li a {
	color: #33d20c;
	line-height: 1.2;
	text-decoration: none;
}

.work > li {
	margin-bottom: 10px;
}

.work .title {
	font-size: 1.2em;
	line-height: 1.2;
	font-style: italic;
	margin-top: 10px;
	font-weight: 600;
	color: #0b7eb4;
}
.work .company {
	color: #33d20c;
	display: inline-block;
	font-style: italic;
	text-decoration: none;
}
.work .tech, .work span {
	display: inline-block;
}

.work .tech, .work span, .work .stack {
	font-style: italic;
	margin: 0;
	margin-top: 3px;
	line-height: 1.2;
}
.work .stack {
	display: block;
}

.work .projects {
	display: block;
	width: 100%;
	font-size: 0;
}
.work .projects li {
	font-size: 18px;
	margin-bottom: 0px;
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.work .projects li label {
	font-size: 1.6em;
}
.work .projects li a {
	font-size: 1.0em;
	color: #2cb40b;
	text-decoration: none;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.downloadContainer {
	position: fixed;
	right: 20px;
	bottom: 80px;
}

.downloadContainer .download {
	padding: 12px 5px;
	font-size: 2em;
	line-height: 1.2;
	width: 50px;
	height: 50px;
	text-align: center;
}

.download {
	font-size: 1.5em;
	padding: 11px 15px;
	color: #fff;
	font-weight: 700;
	line-height: 1.2;
	border-radius: 5px;
	border: none;
	background-color: #33d20c;
	text-decoration: none;
	display: inline-block;
}
.download:hover,
.download:active,
.download:focus {
	color: #fff;
	background-color: #2cb40b;
	text-decoration: none;
}

.up {
	font-size: 2.0em;
	padding: 6px 11px;
	color: #fff;
	font-weight: 700;
	line-height: 1.2;
	border-radius: 5px;
	border: none;
	background-color: #0c95d5;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-align: center;
	
}
.up:hover,
.up:active,
.up:focus {
	color: #fff;
	background-color: #0b7eb4;
	text-decoration: none;
}

.upToTop {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.upToTop.hide {
	display: none;
}

@media (max-width: 768px) {
	body {
		font-size: 10px;
	}
	h1 {
		font-size: 1.9em;
	}
	h2 {
		font-size: 1.7em;
	}
	.contacts, .work {
		padding: 5px;
	}
	.contacts li, .work li {
		padding: 5px;
	}
	.contacts li i {
		width: 20px;
		margin-right: 3px;
	}
	.work > li {
		margin-bottom: 0px;
	}
	.work .title {
		margin-top: 5px;
		font-size: 1.0em;
	}
	.work .projects li {
		font-size: 16px;
	}
	.contacts li label {
		display: none;
	}
	.downloadContainer, .upToTop {
		right: 15px;
	}
	.downloadContainer .download {
		padding: 9px 5px;
	}
	
	.downloadContainer .download, .up {
		width: 40px;
		height: 40px;
		opacity: 0.7;
	}
	.downloadContainer .download:hover,
	.downloadContainer .download:focus,
	.up:hover,
	.up:focus {
		opacity: 1;
	}

}

li {
	page-break-inside: avoid;
}

@media print {
	body {
		font-size: 10px;
	}
	.noPrint {
		display: none;
	}
}


