h2, .name {
  font-size: 2.65em;
  margin: 10px 0 5px;
  font-weight: 600;
}

h1, .cv {
  font-size: 3em;
}
.cv {
  font-weight: normal;
}

.headline {
  display: inline-block;
  &::first-letter {
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  h2, .name {
    font-size: 1.62em;
  }
  h1, .cv {
    font-size: 1.84em;
  }
}