h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
  margin: 10px 0 5px;
  font-weight: 600;
}

.headline {
  display: inline-block;
  &::first-letter {
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.9em;
  }
  h2 {
    font-size: 1.7em;
  }
}