/*
* ======= Colors =========
*/

$colorWhite: #fff;
$colorBlue: #0b7eb4;
$colorBlueLight: #0c95d5;
$colorPurple: #711ccc;
$colorGreen: #0c23d2; //#33d20c;
$colorGreenDark: #2CB40B;
$colorPurpleLight: #8e05cc;
$colorPurpleDark: #7236bc;
$colorBlueViolet: blueviolet;
$colorCoolBlue: #0c23d2;
//
//$colorBase: #000;
//$colorWhite: #fff;
//$colorBgBase: #eee4d1;
//$colorYellow: #ffcc00;
//$colorBgBlue: #25408f;
//$colorGrey: #414042;
//$colorButtonBorder: #6d6e71;
//$colorBlueTransparent: #374f94;
//$colorYellowTransparent: #ffd017;


/*
* ========= Font Sizes ==========
*/

$headingSizeLarge: 40px;
$headingSizeBig: 30px;
$headingSizeMiddle: 24px;
$headingSizeNormal: 18px;
$headingSizeBase: 16px;
$headingSizeSmall: 14px;

$headingSizeMid: 20px;

$sizeBig: 48px;
$sizeMiddle: 40px;
$sizeNormal: 32px;
$sizeBase: 22px;
$sizeSmall: 18px;
$sizeTiny: 16px;
$sizeMilly: 14px;


$fs60: 60px;
$fs48: 48px;
$fs48: 48px;
$fs45: 45px;
$fs40: 40px;
$fs38: 38px;
$fs36: 36px;
$fs33: 33px;
$fs32: 32px;
$fs30: 30px;
$fs24: 24px;
$fs22: 22px;
$fs22: 22px;
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs15: 15px;
$fs14: 14px;
$fs13: 13px;
$fs12: 12px;
$fs11: 11px;

$padding60: 60px;
$padding30: 30px;
$padding20: 20px;
$padding15: 15px;
$padding12: 12px;
$padding10: 10px;
$padding5: 5px;

$margin60: 60px;
$margin30: 30px;
$margin25: 25px;
$margin20: 20px;
$margin15: 15px;
$margin10: 10px;
$margin5: 5px;




/*
* ======== Fonts ========
*/

$fontSubstitute: sans-serif;
$fontUbuntu: 'Ubuntu', $fontSubstitute;
$fontOpenSans: 'Open Sans', $fontSubstitute;
$ffAxeHandel : 'AxeHandel', $fontSubstitute;
$ffStagBook : 'Stag-Book', $fontSubstitute;
$ffStagBookItalic : 'Stag-BookItalic', $fontSubstitute;
$ffStagSansBook : 'StagSans-Book', $fontSubstitute;
$ffStagSansBookItalic : 'StagSans-BookItalic', $fontSubstitute;
$ffStagSansMedium : 'StagSans-Medium', $fontSubstitute;
$ffStagSansMediumItalic : 'StagSans-MediumItalic', $fontSubstitute;
$ffStagSansSemibold : 'StagSans-Semibold', $fontSubstitute;










